Package: com.nehokstore.testpp
Name: Testpp
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: alpian
Author: alpian
Section: System
Tag: role::hacker
